<nav class="navbar navbar-light navbar-cinza">
        <a href="/"><h1 class="linkStyle">Froky</h1></a>
        <img src="" alt="" srcset="">
        <a href="/forms" class="btn bg-light">Nova Pergunta  </a>    
</nav>